<template>
  <div id="app">
    <h1>WOW VUE WORKS!</h1>

    <div>
      <h2>Tag of the day</h2>
      <div class="tag">
        {{ randomTag.label }}
        - {{ randomTag.type }}
      </div>
    </div>

    <h2>Tags</h2>
    <div>Query updates: {{ updateCount }}</div>
    <div class="type">
      <label>
        <input type="radio" value="City" v-model="type" />
        Cities
      </label>
      <label>
        <input type="radio" value="Company" v-model="type" />
        Companies
      </label>
    </div>
    <div v-for="tag in tags" class="tags">
      {{tag.label}}
    </div>

    <form @submit.prevent="addTag">
      <input type="text" v-model="newTag" placeholder="New Tag" autocomplete="off" />
    </form>
  </div>
</template>

<script>
import gql from 'graphql-tag';

export default {
  name: 'app',
  data: () => ({
    // data defaults
    updateCount: 0,
    skipQuery: false,
    type: 'City',
  }),
  apollo: {
    tags() {
      return {
        query: gql`query tagList($type: String!) {
          tags(type: $type) {
            id
            label
          }
        }`,
        variables() {
          return {
            type: this.type
          };
        },
        result() {
          this.updateCount++;
        },
        skip() {
          return this.skipQuery;
        }
      }
    },
    randomTag: {
      query () {
        return gql`{
          randomTag {
            id
            label
            type
          }
        }`;
      }
    }
  },
  methods: {
    addTag() {
      const newTag = this.newTag;
      this.newTag = '';
      this.$apollo.mutate({
        mutation: gql`mutation($type: String!, $label: String!) {
          addTag(type: $type, label: $label) {
            id
            label
          }
        }`,
        variables: {
          type: this.type,
          label: newTag
        },

        updateQueries: {
          tagList: (previousQueryResult, { mutationResult }) => {
            return {
              tags: [...previousQueryResult.tags, mutationResult.data.addTag]
            };
          }
        }
      });
    }
  }
};
</script>

<style>
*{
  outline:0;
  border:0;
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-size:inherit;
  font-family:inherit;
  color:inherit;
}

body{
  font-family:Helvetica, sans-serif;
  font-size:16px;
  color:black;
}

h1{
  font-size:calc(2rem + 2vmin);
}

input[type="text"]{
  border:solid 1px black;
  padding:0.2em;
  border-radius:0.2em;
}

.tag{
  display:inline-block;
  background-color:#40b883;
  color:white;
  border-radius:0.2em;
  padding:0.2em;
}
</style>
